*.background:	#1c100d
*.color0:	#1c100d
*.color1:	#A54B1F
*.color10:	#D26924
*.color11:	#A17456
*.color12:	#F28B31
*.color13:	#938579
*.color14:	#F2A25B
*.color15:	#c4bfba
*.color2:	#D26924
*.color3:	#A17456
*.color4:	#F28B31
*.color5:	#938579
*.color6:	#F2A25B
*.color66:	#1c100d
*.color7:	#c4bfba
*.color8:	#898582
*.color9:	#A54B1F
*.foreground:	#c4bfba
*background:	#1c100d
*color0:	#1c100d
*color1:	#A54B1F
*color10:	#D26924
*color11:	#A17456
*color12:	#F28B31
*color13:	#938579
*color14:	#F2A25B
*color15:	#c4bfba
*color2:	#D26924
*color3:	#A17456
*color4:	#F28B31
*color5:	#938579
*color6:	#F2A25B
*color66:	#1c100d
*color7:	#c4bfba
*color8:	#898582
*color9:	#A54B1F
*foreground:	#c4bfba
URxvt*background:	[100]#1c100d
URxvt*borderColor:	[100]#1c100d
URxvt*cursorColor:	#c4bfba
URxvt*depth:	32
URxvt*foreground:	#c4bfba
UXTerm*background:	#1c100d
UXTerm*cursorColor:	#c4bfba
UXTerm*foreground:	#c4bfba
XClock*background:	#1c100d
XClock*foreground:	#c4bfba
XClock*hourColor:	rgba:c4/bf/ba/ff
XClock*majorColor:	rgba:c4/bf/ba/ff
XClock*minorColor:	rgba:c4/bf/ba/ff
XClock*minuteColor:	rgba:c4/bf/ba/ff
XClock*secondColor:	rgba:c4/bf/ba/ff
XTerm*background:	#1c100d
XTerm*cursorColor:	#c4bfba
XTerm*foreground:	#c4bfba
emacs*background:	#1c100d
emacs*foreground:	#c4bfba

Xft.autohint: 1
Xft.antialias: 1
Xft.hinting: true
Xft.hintstyle: hintslight
Xft.rgba: rgb
Xft.lcdfilter: lcddefault
